<% @users.each do |user| %>
<div>
	<%= user.username %>
	<%= user.email %>
	<%= link_to "View", user %>
	<%= link_to "Edit", edit_user_path(user) %>
	<%= link_to "Destroy", user, confirm: 'Are you sure?', method: :delete %>
</div>
<% end %>

<%= link_to "Create New User", new_user_path %>
